<div class="cell box bulma-huge-box">
  <%= turbo_frame_tag priority.to_s do  %>
    <div class="block is-flex">
      <h2 class="barlow-condensed-semibold is-size-3">Urgent/Important:</h2>
      <%= link_to add_task_to_box_daily_tasks_path(priority: priority), data: { "turbo_method": "post" }, class: "button is-primary ml-auto" do %>
          <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <% if tasks.present? %>
      <%= turbo_frame_tag "#{priority}_tasks_frame" do %>
        <% tasks.each do |task| %>
          <%= render partial: "single_task_view", locals: { daily_task: task } %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag "#{priority}_no_tasks" %>
    <% else %>
      <%= turbo_frame_tag "#{priority}_tasks_frame" %>
      <%= turbo_frame_tag "#{priority}_no_tasks" do %>
        <div class="is-flex h-100">
          <span class="mx-auto my-auto is-size-5 montserrat-600">No tasks found.</span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>