<%= turbo_stream.append @priority do %>
  <%= turbo_frame_tag dom_id(DailyTask.new) do %>
    <%= form_with model: DailyTask.new, class: "mt-5" do |form| %>
      <%= form.hidden_field :priority, value: @priority %>
      <div class="grid">
        <div class="cell">
          <%= form.text_field :title, class: "input" %>
        </div>
        <div class="cell">
          <div class="select">
            <%= form.select :smart_goal_id, options_from_collection_for_select(@smart_goals, :id, :measurable_goal) %>
          </div>
        </div>
        <div class="cell">
          <%= form.submit "Save", class: "button is-warning montserrat-500" %>
        </div>
      </div>
      <%= render partial: "layouts/error_messages", locals: { messages: @errors } %>
    <% end %>
  <% end %>
<% end %>
<%= turbo_stream.update "#{@priority}_no_tasks" do %>
  <div></div>
<% end %>
