<section class="hero is-small">
  <div class="hero-body">
    <h1 class="barlow-condensed-bold is-size-3">Add <span class="has-text-primary">Daily Task(s):</span></h1>
  </div>
</section>


<% if @smart_goals.present? %>
  <%= turbo_frame_tag "user_tasks" do %>
    <% if @tasks.present? %>
      <% @tasks.each do |task| %>
        <%= render partial: "single_task_view", locals: { daily_task: task } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<section class="section">
  <%= form_with model: @smart_goal, url: smart_goals_path, data: { turbo_method: :create }, class: "form" do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <div class="block">
      <% if @smart_goals.present? %>
        <div class="select">
          <%= f.select :smart_goal_id, options_from_collection_for_select(@smart_goals, :id, :measurable_goal) %>
        </div>
      <% end %>
      <div class="select">
        <%= f.select :priority, options_for_select(@priorities) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :title, class: "label" %>
      <%= f.text_field :title, class: "input" %>
    </div>

    <%= f.submit "Save", class: "button is-primary" %>
  <% end %>
</section>

<%= render partial: "layouts/error_messages", locals: { messages: [] } %>
