<section class="hero">
  <div class="hero-body">
    <h1 class="title barlow-condensed-bold is-size-2">Creating a new <span class="has-text-primary">entry</span>:</h1>
  </div>
</section>
<%= turbo_frame_tag "new_journal_entry_form" do %>
  <section class="section">
    <%= form_with model: @journal_entry, class: "form" do |form| %>
      <div class="field">
        <%= form.label :title, class: "label" %>
        <%= form.text_field :title, class: "input" %>
      </div>
      <div class="field">
        <%= form.label :content, class: "label" %>
        <%= form.rich_text_area :content, class: "textarea" %>
      </div>
      <div class="field">
        <div class="buttons">
          <%= form.submit "Save", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>