<%= render partial: "fitness_tracking_javascript" %>
<section class="hero">
  <div class="hero-body">
    <h1 class="title">Welcome to your fitness dashboard, <span class="has-text-primary"><%= @user.name.split(" ")[0] %></span></h1>
  </div>
</section>
<div class="section">
  <span class="is-size-4">Progress:</span>
  <progress class="progress is-primary" value="0" max="100"></progress>
  <span class="is-size-4">Total: <span class="has-text-primary has-text-weight-bold"><%= @user.workouts.count %> workouts</span>.</span>
  <br>
  <span class="is-size-4">Current streak: <span class="has-text-weight-bold has-text-warning"><%= @user.workout_streak %> days</span>.</span>
  <br>
</div>
<div class="section">
  <div class="grid">
    <div class="cell">
      <div class="box">
        <h3 class="title is-size-5">Current Reps:</h3>
        <div class="is-flex is-flex-direction-column">
          <span>Dumbbell Bench: 65</span>
          <span>Deadlift: 265</span>
          <span>Squat: 145</span>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="box">
        <h3 class="title is-size-5">Diet:</h3>
        <div class="is-flex is-flex-direction-column">
          <span>Lorem ipsum...</span>
          <span>To be</span>
          <span>Implemented in the future</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <%= link_to "Add a workout", dashboard_new_workout_path, class: "button is-primary" %>
  <%= link_to "Log Food", "#", class: "button is-light" %>
</div>