<%= turbo_page_requires_reload %>
<section class="hero">
  <div class="hero-body">
    <h1 class="title barlow-condensed-bold is-size-2">Editing <span class="has-text-warning"><%= @workout.created_at.strftime("%m/%d/%Y") %></span></h1>
  </div>
</section>
<section class="section">
  <%= turbo_frame_tag "gym_lifts" do %>
    <%= form_with model: @workout, method: :patch do |f| %>
      <div class="columns is-vcentered">
        <div class="column is-one-fifth is-flex">
          <%= f.label "Date:", class: "label my-auto" %>
          <div class="select my-auto ml-2">
            <%= f.select :created_at, options_from_collection_for_select(@last_two_weeks, :to_s, :to_s) %>
          </div>
        </div>
        <div class="column is-one-fifth is-flex">
          <%= f.label "Type:", class: "label my-auto" %>
          <div class="select my-auto ml-2">
            <%= f.select :workout_type, options_for_select(@workout_types.map{ |k, v| [k.capitalize, k]}) %>
          </div>
        </div>
        <div class="column is-flex">
          <%= button_tag "Add Lift", formaction: add_lift_form_workouts_path, formmethod: :post, data: { turbo_stream: true }, class: "button is-warning my-auto ml-auto" %>
          <%= f.submit "Continue", class: "button is-primary ml-2" %>
        </div>
      </div>

      <div class="field">
        <%= f.fields_for :gym_lifts do |ff| %>
          <%= turbo_frame_tag ff.object.id do %>
            <div class="block">
              <div class="columns">
                <div class="column is-one-fifth">
                  <%= ff.label "Lift:", class: "label"  %>
                  <div class="select">
                    <%= ff.select :exercise_id, options_from_collection_for_select(@all_exercises, :id, :title) %>
                  </div>
                </div>

                <div class="column is-one-fifth">
                  <%= ff.label "Reps:", class: "label" %>
                  <%= ff.number_field :reps, class: "input" %>
                </div>

                <div class="column is-one-fifth">
                  <%= ff.label "Sets:", class: "label" %>
                  <%= ff.number_field :sets, class: "input" %>
                </div>

                <div class="column is-one-fifth">
                  <%= ff.label "Weight:", class: "label" %>
                  <%= ff.number_field :weight, class: "input" %>
                </div>
              </div>
            </div>
            <div class="block">
              <%= link_to "Remove", delete_lift_form_workouts_path(frame_id: ff.object.id), data: { "turbo-method": :delete }, class: "button is-danger" %>
            </div>
          <% end %>
        <% end %>

      </div>

      <%= turbo_frame_tag "workout_lifts" do %>

      <% end %>
    <% end %>
  <% end %>
</section>

<%= turbo_frame_tag "err_messages" do %>
  <div class="section">
    <% flash[:messages]&.each do |message| %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>