<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title barlow-condensed-bold is-size-2">
      Here's all your workouts, <span class="has-text-warning"><%= @user.first_name %></span>.
    </h1>
  </div>
</section>
<section class="section">
  <%= turbo_frame_tag "list_workouts" do %>
    <div class="fixed-grid has-3-cols">
      <div class="grid">
        <% @workouts.includes(:gym_lifts).each do |workout| %>
          <% gym_lifts = workout.gym_lifts %>
          <%= turbo_frame_tag dom_id(workout) do %>
            <div class="cell">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-size-3 barlow-condensed-bold">
                    <%= workout.created_at.strftime("%m/%d/%Y") %>
                  </p>
                </header>
                <div class="card-content">
                  <div class="is-flex is-flex-direction-column">
                    <span class="">Type: <span class="has-text-warning"><%= workout.workout_type.humanize %></span></span>
                    <span class="">Lifts: <span class="has-text-danger"><%= workout.gym_lifts.count %></span></span>
                  </div>
                </div>
                <footer class="card-footer">
                  <%= link_to "Edit", edit_workout_path(workout.id), class: "card-footer-item" %>
                  <%= link_to "Delete", workout_path(workout.id), data: { "turbo-method": :delete }, class: "card-footer-item" %>
                </footer>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @user.workouts.count.zero? %>
    <div>No workouts. Please add more! </div>
  <% end %>
</section>