<%= form_with model: user, url: :create_or_login_user do |f| %>
  <div class="field">
    <%= f.label :username, class: "label has-text-weight-normal" %>
    <div class="control">
      <%= f.text_field :username, class: "input" %>
    </div>
    <% if flash[:notice] %>
      <span class="has-text-danger"><%= notice %></span>
    <% end %>
  </div>
  <% if page_type == :sign_up %>
    <div class="field">
      <%= f.label :name, class: "label has-text-weight-normal" %>
      <div class="control">
        <%= f.text_field :name, class: "input" %>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, class: "label has-text-weight-normal" %>
    <div class="control">
      <%= f.password_field :password, class: "input" %>
    </div>
  </div>
  <div class="field mt-4">
    <% if page_type == :sign_up %>
      <%= link_to "Log in", root_path, class: "button is-warning" %>
    <% else %>
      <%= link_to "Sign up", auth_sign_up_path, class: "button is-warning" %>
    <% end %>
    <%= f.submit "Continue", class: "button is-primary" %>
  </div>
<% end %>
<hr>
<div>
  <% flash[:messages]&.uniq&.each do |message| %>
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= message %>
    </div>
  <% end %>
</div>