<%= turbo_frame_tag "login_form_auth_inputs" do %>
  <div class="field">
    <%= form.label :username, class: "label" %>
    <%= form.text_field :username, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.password_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= link_to "Continue", auth_switch_onboarding_form_path(to: "track_params"), class: "button is-primary" %>
  </div>
<% end %>