<%= turbo_frame_tag "sign_up_frame" do %>
  <h2 class="barlow-condensed-bold is-size-1 title">Add tracks:</h2>
  <h3 class="subtitle is-size-4 barlow-condensed-semibold has-text-warning">Now, let's add some <span class="has-text-primary">tracks.</span></h3>
  <%= form_with model: UserTrack.new, url: :auth_create_user_track, class: "form" do |form| %>
    <%= form.fields_for :user do |field| %>
      <%= field.hidden_field :username, value: user.username %>
      <%= field.hidden_field :name, value: user.name %>
      <%= field.hidden_field :password, value: user.password %>
    <% end %>

    <%= form.fields_for :track do |field| %>
      <%= field.hidden_field :icon, value: "" %>
      <div class="field">
        <%= field.label :title, class: "label" %>
        <%= field.text_field :title, class: "input" %>
      </div>

      <div class="field">
        <h3 class="label">Select an icon:</h3>
        <div class="">
          <div class="grid">
            <% fa_icon_samples.each do |icon| %>
              <div class="cell is-flex is-align-items-center is-justify-content-center">
                <button type="button" class="button is-dark">
                  <i class="<%= icon %>"></i>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="buttons">
      <%= form.submit "Next", class: "button is-primary" %>
    </div>

    <hr>
    <h2 class="barlow-condensed-bold is-size-2">OR:</h2>
    <button class="button is-primary">Add default tracks</button>
  <% end %>
<% end %>

<%= turbo_frame_tag "" %>