<%= turbo_frame_tag "sign_up_frame" do %>
  <!-- header -->
  <header class="block">
    <h2 class="barlow-condensed-bold is-size-1">Add tracks:</h2>
    <div class="is-flex is-align-items-center">
      <h3 class="is-size-4 barlow-condensed-semibold has-text-warning">
        Now, let's add up to <strong class="has-text-weight-bold has-text-danger">six</strong> <span class="has-text-primary">tracks.</span>
      </h3>
      <div class="tooltip has-text-primary ml-2">
        <i class="fa-solid fa-xl fa-circle-info"></i>
        <span class="tooltiptext top has-background-primary has-text-dark px-4">
          A <strong class="has-text-weight-bold has-text-dark">track</strong> is a way to organize your goals. Something like "Fitness", or "School" would be a good example!
        </span>
      </div>
    </div>
  </header>



  <%= form_with model: UserTrack.new, url: :auth_create_user_track, class: "form" do |form| %>
    <%= form.fields_for :user do |field| %>
      <%= field.hidden_field :username, value: user.username %>
      <%= field.hidden_field :name, value: user.name %>
      <%= field.hidden_field :password, value: user.password %>
    <% end %>
    <div class="block">
      <% 6.times do |i| %>
        <div class="grid">
          <%= form.fields_for :track, index: i do |field| %>
            <%= field.hidden_field :icon, value: "" %>
            <div class="cell">
              <div class="is-flex">
                <%= field.text_field :title, class: "input", placeholder: "Enter track title (or leave blank to skip)" %>
              </div>

            </div>
            <div class="cell">
              <%= button_tag "Add an icon", type: "button", class: "button is-warning", id: "open_icon_modal_#{i}" , onclick: "openModal(document.getElementById('icon_picker_modal_#{i}'));" %>
            </div>
          <% end %>
        </div>
        <%= render partial: "icon_picker_modal", locals: { index: i } %>
      <% end %>
    </div>
    <div class="buttons">
      <%= form.submit "Next", class: "button is-primary montserrat-500" %>
    </div>
    <hr>
    <h2 class="barlow-condensed-bold is-size-2">OR:</h2>
    <%= form.submit "Select default", class: "button is-primary montserrat-500" %>
  <% end %>
  <%= render partial: "layouts/error_messages", locals: { messages: [] } %>
<% end %>

