<%= turbo_frame_tag "sign_up_frame" do %>
  <h2 class="barlow-condensed-bold is-size-1 title">Add tracks:</h2>
  <h3 class="subtitle is-size-4 barlow-condensed-semibold has-text-warning">Now, let's add some <span class="has-text-primary">tracks.</span></h3>
  <%= form_with model: UserTrack.new, url: :auth_create_user_track, class: "form" do |form| %>
    <%= form.fields_for :user do |field| %>
      <%= field.hidden_field :username, value: user.username %>
      <%= field.hidden_field :name, value: user.name %>
      <%= field.hidden_field :password, value: user.password %>
    <% end %>

    <%= form.fields_for :track do |field| %>
      <div class="field">
        <%= field.label :title, class: "label" %>
        <%= field.text_field :title, class: "input" %>
      </div>

    <% end %>
    <div class="buttons">
      <%= button_tag "Add default tracks", class: "button is-warning" %>
      <%= form.submit "Next", class: "button is-primary" %>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "" %>