<%= turbo_page_requires_reload %>
<div class="section">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half">
        <%= form_with model: @user, class: "form", data: { controller: "onboarding" } do |form| %>
          <div data-controller="onboarding">
            <div data-onboarding-target="generic" id="generic_input_fields">
              <header class="my-4" id="onboarding_header">
                <h2 class="is-size-1 title barlow-condensed-bold">Sign up:</h2>
                <h3 class="is-size-4 has-text-warning barlow-condensed-semibold subtitle">First, let's get some basics out of the way.</h3>
              </header>
              <div class="field">
                <%= form.label :username, class: "label" %>
                <%= form.text_field :username, id: "username_input", class: "input" %>
              </div>
              <div class="field">
                <%= form.label :name, class: "label" %>
                <%= form.text_field :name, class: "input" %>
              </div>
              <div class="field">
                <%= form.label :password, class: "label" %>
                <%= form.password_field :password, data: { "search-target": "password" }, class: "input" %>
              </div>
              <div class="field">
                <%= button_tag "Next", class: "button is-primary", type: "button", data: { action: "onboarding#flip_to_track" } %>
              </div>
            </div>
            <div data-onboarding-target="track" id="track_input_fields" class="display-none">
              <header class="my-4">
                <h2 class="is-size-1 title barlow-condensed-bold">Add tracks</h2>
                <h3 class="is-size-4 has-text-warning barlow-condensed-semibold subtitle">A track is a category of goals. Something like "Fitness", or "School" would be a good example!</h3>
              </header>
              <% 6.times do |i| %>
                <div class="grid">
                  <%= form.fields_for :track, index: i do |field| %>
                    <%= field.hidden_field :icon, value: "" %>
                    <div class="cell">
                      <div class="is-flex">
                        <%= field.text_field :title, class: "input", placeholder: "Enter track title (or leave blank to skip)" %>
                      </div>

                    </div>
                    <div class="cell">
                      <%= button_tag "Add an icon", type: "button", class: "button is-warning", id: "open_icon_modal_#{i}" , onclick: "openModal(document.getElementById('icon_picker_modal_#{i}'));" %>
                    </div>
                  <% end %>
                </div>
                <%= render partial: "icon_picker_modal", locals: { index: i } %>
              <% end %>
              <hr>
              <div class="is-flex is-align-items-center">
                <span class="is-size-2 barlow-condensed-semibold">OR:</span>
                <%= button_tag "Use default tracks", class: "button is-warning mx-4", type: "button" %>
              </div>
              <hr>
              <%= button_tag "Back", type: "button", class: "button is-warning", data: { action: "onboarding#flip_to_generic" } %>
              <%= button_tag "Next", type: "button", class: "button is-primary", data: { action: "onboarding#flip_to_saga" } %>
            </div>
            <div id="saga_input_fields" data-onboarding-target="saga" class="display-none">
              <header class="my-4">
                <h2 class="is-size-1 title barlow-condensed-bold">Add saga</h2>
                <h3 class="is-size-4 has-text-warning barlow-condensed-semibold subtitle">Finally, a saga is the story behind why these are your goals. Make sure to take your time here!</h3>
              </header>
              <%= form.fields_for :saga do |field| %>
                <%= field.hidden_field :content, id: "saga_content", value: "" %>
                <div class="field">
                  <%= field.label :title, class: "label" %>
                  <%= field.text_field :title, class: "input" %>
                </div>

                <div class="field">
                  <div class="is-flex">
                    <div>
                      <%= field.label :start_date, class: "label" %>
                      <%= field.date_field :start_date, class: "input" %>
                    </div>
                    <div class="mx-4">
                      <%= field.label :end_date, class: "label" %>
                      <%= field.date_field :end_date, class: "input" %>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <%= field.label :content, class: "label" %>
                  <div id="editor" class="quill-custom-height"></div>
                </div>

                <div class="field">
                  <%= button_tag "Back", class: "button is-warning", type: "button", data: { action: "onboarding#flip_to_track" } %>
                  <%= form.submit "Save", class: "button is-primary montserrat-500" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
  <%= render partial: "layouts/error_messages", locals: { messages: [] } %>
</div>
<%= javascript_include_tag "quill_form" %>