<%= turbo_page_requires_reload %>
<div class="section">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half">
        <h2 class="is-size-2 title">Sign up</h2>
        <%= form_with model: @user, class: "form" do |form| %>
          <div class="my-4" data-controller="onboarding">
            <div id="generic_input_fields">
              <div class="field">
                <%= form.label :username, class: "label" %>
                <%= form.text_field :username, class: "input" %>
              </div>
              <div class="field">
                <%= form.label :password, class: "label" %>
                <%= form.password_field :password, data: { "search-target": "password" }, class: "input" %>
              </div>
              <div class="field">
                <%= form.label :name, class: "label" %>
                <%= form.password_field :name, class: "input" %>
              </div>
              <div class="field">
                <%= button_tag "Next", class: "button is-primary", data: { "action": "onboarding#hide_generic_inputs"} %>
              </div>
            </div>
            <div class="display-none" id="track_input_fields">
              <%= form.fields_for :track do |field| %>
                <div class="field">
                  <%= field.label :title, class: "label" %>
                  <%= field.text_field :title, class: "input" %>
                </div>
              <% end %>
              <div class="field">

              </div>
            </div>

          </div>
        <% end %>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
</div>