<%= turbo_page_requires_reload %>
<div class="section">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half">
        <%= form_with model: @user, url: :sign_user_up, class: "form", data: { controller: "onboarding" } do |form| %>
          <div>
            <div id="generic">
              <header class="my-4" id="onboarding_header">
                <h2 class="is-size-1 title barlow-condensed-bold">Sign up:</h2>
                <h3 class="is-size-4 has-text-warning barlow-condensed-semibold subtitle">First, let's get some basics out of the way.</h3>
              </header>
              <div class="field">
                <%= form.label :username, class: "label" %>
                <%= form.text_field :username, id: "username_input", class: "input" %>
              </div>
              <div class="field">
                <%= form.label :name, class: "label" %>
                <%= form.text_field :name, class: "input" %>
              </div>
              <div class="field">
                <%= form.label :password, class: "label" %>
                <%= form.password_field :password, class: "input" %>
              </div>
              <div class="field">
                <%= form.label :password_confirmation, class: "label" %>
                <%= form.password_field :password_confirmation, class: "input" %>
              </div>
              <div class="field">
                <%= form.label :email, class: "label" %>
                <%= form.email_field :email, class: "input" %>
              </div>
              <div class="field">
                <%= button_tag "Next", class: "button is-primary", type: "button", data: { controller: "onboarding", action: "onboarding#flip_to_page", onboarding_current_page_value: "generic", onboarding_next_page_value: "track" } %>
              </div>
            </div>
            <div id="track" class="display-none">
              <header class="my-4">
                <h2 class="is-size-1 title barlow-condensed-bold">Add tracks</h2>
                <h3 class="is-size-4 has-text-warning barlow-condensed-semibold subtitle">A track is a category of goals. Something like "Fitness", or "School" would be a good example!</h3>
              </header>
              <%= form.fields_for :tracks, @tracks do |field| %>
                <%= field.hidden_field :icon, value: "" %>
                  <div class="columns">
                    <div class="column">
                      <div class="is-flex">
                        <%= field.text_field :title, class: "input", placeholder: "Enter track title (or leave blank to skip)" %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="is-flex">
                        <%= field.date_field :start_date, class: "input", value: Date.today %>
                        <%= field.date_field :start_date, class: "input ml-2", value: Date.today + 1.month %>
                      </div>
                    </div>

                    <div class="column">
                      <%= button_tag "Add an icon", type: "button", class: "button is-warning", id: "open_icon_modal_#{field.index}" , onclick: "openModal(document.getElementById('icon_picker_modal_#{field.index}'));" %>
                    </div>
                  </div>
                  <%= render partial: "icon_picker_modal", locals: { index: field.index } %>
              <% end %>
              <hr>
              <%= button_tag "Back", type: "button", class: "button is-warning", data: { controller: "onboarding", action: "onboarding#flip_to_page", onboarding_current_page_value: "track", onboarding_next_page_value: "generic" } %>
              <%= button_tag "Next", type: "button", class: "button is-primary", data: { controller: "onboarding", action: "onboarding#flip_to_page", onboarding_current_page_value: "track", onboarding_next_page_value: "saga" } %>
            </div>
            <div id="saga" class="display-none">
              <header class="my-4">
                <h2 class="is-size-1 title barlow-condensed-bold">Add saga</h2>
                <h3 class="is-size-4 has-text-warning barlow-condensed-semibold subtitle">Finally, a saga is the story behind why these are your goals. Make sure to take your time here!</h3>
              </header>
              <%= form.fields_for :sagas, @sagas do |field| %>
                <%= field.hidden_field :content, id: "saga_content", value: "" %>
                <div class="field">
                  <%= field.label :title, class: "label" %>
                  <%= field.text_field :title, class: "input" %>
                </div>

                <div class="field">
                  <div class="is-flex">
                    <div>
                      <%= field.label :start_date, class: "label" %>
                      <%= field.date_field :start_date, class: "input" %>
                    </div>
                    <div class="mx-4">
                      <%= field.label :end_date, class: "label" %>
                      <%= field.date_field :end_date, class: "input" %>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <%= field.label :content, class: "label" %>
                  <div id="editor" class="quill-custom-height"></div>
                </div>

                <div class="field">
                  <%= button_tag "Back", class: "button is-warning", type: "button", data: { controller: "onboarding", action: "onboarding#flip_to_page", onboarding_current_page_value: "saga", onboarding_next_page_value: "track" } %>
                  <%= form.submit "Save", class: "button is-primary montserrat-500" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
  <%= render partial: "layouts/error_messages", locals: { messages: [] } %>
</div>
<%= javascript_include_tag "quill_form" %>