<% if @errors.present? %>
  <%= turbo_stream.replace("err_messages") do %>
    <%= render partial: "layouts/error_messages", locals: { messages: @errors } %>
  <% end %>
<% else %>
  <%= turbo_stream.remove "err_messages" %>
  <%= turbo_stream.append("goals") do %>
    <%= render partial: "goal_card", locals: { goal: @smart_goal } %>
  <% end %>
  <% if @user.smart_goals.length > 0 %>
    <%= turbo_stream.replace("no_goals") do %>
      <div></div>
    <% end %>
  <% end %>
<% end %>