<section class="hero is-small">
  <div class="hero-body">
    <h1 class="barlow-condensed-bold is-size-2">Let's check your goals, <span class="has-text-primary"><%= @user.first_name %></span>.</h1>
  </div>
</section>

<section class="section">
  <%= form_with model: @smart_goal, id: "smart_goal_form", class: "form" do |f| %>
    <div class="field">
      <%= f.label :title, class: "label" %>
      <%= f.text_field :measurable_goal, class: "input" %>
    </div>
    <div class="is-flex">
      <div class="field">
        <%= f.label :start_date, class: "label" %>
        <%= f.date_field :start_date, class: "input" %>
      </div>
      <div class="field ml-2">
        <%= f.label :end_date, class: "label" %>
        <%= f.date_field :end_date, class: "input" %>
      </div>
      <div class="field ml-2">
        <%= f.label :saga, class: "label" %>
        <div class="select">
          <%= f.select :saga_id, options_from_collection_for_select(@user.sagas, :id, :title) %>
        </div>
      </div>

      <div class="field ml-2">
        <%= f.label :track, class: "label" %>
        <div class="select">
          <%= f.select :track_id, options_from_collection_for_select(@user.tracks, :id, :title) %>
        </div>
      </div>
    </div>

    <div class="buttons">
      <%= f.submit "Add", class: "button is-primary montserrat-500" %>
    </div>
    <%= render partial: "layouts/error_messages", locals: { messages: [] } %>
  <% end %>
</section>

<% if @goals.present? %>
  <section class="section">
    <div class="block">
      <h2 class="barlow-condensed-semibold is-size-3">Your goals:</h2>
    </div>
    <%= turbo_frame_tag "goals" do %>
      <div class="block">
        <div class="fixed-grid">
          <div class="grid">
            <% @goals.each do |goal| %>
              <%= render partial: "goal_card", locals: { goal: goal } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= turbo_frame_tag "no_goals" %>
  </section>
<% else %>
  <%= turbo_frame_tag "no_goals" do %>
    <section class="hero is-danger">
      <div class="hero-body">
        <div class="block">
          <h2 class="barlow-condensed-semibold is-size-3">Whoa, there!</h2>
          <span class="subtitle">You have no goals.</span>
        </div>
        <div class="block">
          <%= link_to "New goal", "#smart_goal_form", class: "button is-primary" %>
        </div>
      </div>

    </section>
  <% end %>
  <%= turbo_frame_tag "goals" %>
<% end %>