<%= turbo_page_requires_reload %>
<section class="hero is-small">
  <div class="hero-body">
    <h1 class="barlow-condensed-bold is-size-2">Let's check your <span class="has-text-danger">goals</span>, <%= @user.first_name %>.</h1>
  </div>
</section>

<section class="section">
  <div class="block">
    <h2 class="barlow-condensed-semibold is-size-3">Your goals:</h2>
  </div>
  <%= turbo_frame_tag "goals" do %>
    <% if @goals.present? %>
      <%= render partial: "goal_cards", locals: { goals: @goals } %>
    <% else %>
      <%= render partial: "no_goals_banner" %>
    <% end %>
  <% end %>
</section>
<section class="section">
  <%= render partial: "layouts/error_messages", locals: { messages: [] } %>
</section>
<%= render partial: "goal_modal", locals: { smart_goal: SmartGoal.new, user: @user } %>
