<%= form_with model: saga, class: "form" do |form| %>
    <%= form.hidden_field :content, id: "saga_content", value: nil %>
    <div class="my-4">
      <%= form.label :title, class: "label" %>
      <%= form.text_field :title, class: "input" %>
    </div>
    <div class="my-4 is-flex">
      <div class="is-flex is-flex-direction-column">
        <%= form.label :start_date, class: "label" %>
        <%= form.date_field :start_date, value: Date.today, class: "input", style: "width: inherit;" %>
      </div>
      <div class="is-flex is-flex-direction-column mx-4">
        <%= form.label :end_date, class: "label" %>
        <%= form.date_field :end_date, value: Date.today + 30.days, class: "input", style: "width: inherit;" %>
      </div>
    </div>
    <div class="my-4">
      <%= form.label :content, class: "label" %>
      <div id="editor" class="quill-custom-height">
        <%= saga&.content&.html_safe %>
      </div>
    </div>
  <div class="my-4">
    <%= form.submit "Save", class: "button is-primary montserrat-400" %>
  </div>
<% end %>

<%= javascript_include_tag 'quill_form' %>