<%= turbo_page_requires_reload %>
<section class="section">
  <div>
    <div class="block">
      <h3 class="title has-text-underline barlow-condensed-bold has-text-primary"><%= @current_saga.title %></h3>
      <span class="subtitle">Start: <%= format_date(@current_saga.start_date) %> | End: <%= format_date(@current_saga.end_date) %></span>
    </div>
    <div class="content" style="word-wrap: break-word;">
      <%= @current_saga.content.html_safe %>
    </div>
  </div>
</section>