<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-end">
      <% if session[:page_type] == "tracks" %>
        <div class="navbar-item">
          <button type="button" data-controller="modals" data-action="modals#open_modal" data-modals-modal-id-value="<%= dom_id(Track.new) %>" class="button is-primary">
            New track
            <i class="fa fa-solid fa-plus ml-2"></i>
          </button>
        </div>
      <% elsif session[:page_type] == "smart_goals" %>
        <div class="navbar-item">
          <button type="button" data-controller="modals" data-action="modals#open_modal" data-modals-modal-id-value="<%= dom_id(SmartGoal.new) %>" class="button is-primary">
            New goal
            <i class="fa fa-solid fa-plus ml-2"></i>
          </button>
        </div>
      <% elsif session[:page_type] == "sagas" %>
        <div class="navbar-item">
          <a href="<%= new_saga_path %>" class="button is-primary">
            New saga <i class="fa fa-solid fa-plus ml-2"></i>
          </a>
        </div>
      <% elsif session[:page_type] == "daily_tasks" %>
        <div data-controller="daily-tasks--sidebar">
          <div id="main">
            <button data-action="daily-tasks--sidebar#open_nav" class="button is-primary" type="button">View draft tasks</button>
          </div>
          <div id="mySidebar" class="sidebar has-background-light">
            <div class="is-flex is-justify-content-space-between is-align-items-center" style="width: 95%;">
              <h2 class="barlow-condensed-semibold is-size-4">Draft tasks:</h2>
              <button class="block" data-action="daily-tasks--sidebar#close_nav">
                <i class="fa fa-solid fa-close"></i>
              </button>
            </div>
            <%= form_with url: :create_draft_task_daily_tasks do |f| %>
              <%= f.submit "Add draft task", class: "button is-primary montserrat-500" %>
            <% end %>
            <%= turbo_frame_tag "draft_tasks" do %>
              
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>