<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Poweruser" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body class="montserrat-400">
    <% if session[:page_type] == "Dashboard" %>
      <div class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
        <span class="navbar-item">
          <span class="title barlow-condensed-bold has-text-primary">PowerUser</span>
        </span>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <%= link_to "Dashboard", dashboard_home_path, class: "navbar-item" %>
              <%= link_to "Fitness Tracking", workouts_path, class: "navbar-item" %>
              <%= link_to "Journaling", dashboard_home_path, class: "navbar-item" %>
              <%= link_to "Pomodoro", dashboard_home_path, class: "navbar-item" %>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <%= link_to "Log out", root_path, class: "button is-light" %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
